@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
    font-family: "Inter", sans-serif;
}

/* --- CONFIGURAÇÕES GLOBAIS E VARIÁVEIS --- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    color: var(--dark-color);
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    /* Adicionado para garantir que não haja padding */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --header-bg-gray: #e0e0e0;
    --topbar-bg-dark: #222222;
    --topbar-text-color: #f0f0f0;
    --primary-color: #ffb919;
    --dark-color: #080808;
    --light-color: #ffffff;
    --text-color: #555555;
    --border-color: #e0e0e0;
    --font-heading: "Inter", sans-serif;
    --font-body: "Inter", sans-serif;
}



.sticky-header-wrapper {
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
    z-index: 999;
}

/* --- BARRA SUPERIOR --- */
.top-bar {
    background-color: var(--topbar-bg-dark);
    color: var(--topbar-text-color);
    padding: 8px 0;
    font-size: 0.8rem;
}

.top-bar-text {
    font-weight: bold;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accessibility-options {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* --- HEADER --- */

.site-header {
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: var(--header-bg-gray);
    position: fixed;
}

/* Bloco da Logo (Esquerda) */
.logo-wrapper {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    flex-shrink: 0;
}

.logo-wrapper img {
    height: 41.86px;
}

/* Bloco da Navegação (Direita) */
.nav-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
    gap: 30px;
    background-image: url('../images/concrete-wall-light.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-nav {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    font-family: var(--font-body);
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--dark-color);
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.btn-header {
    background-color: var(--primary-color);
    color: var(--dark-color);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.9rem;
    flex-shrink: 0;
}

.header-search {
    color: var(--dark-color);
    font-size: 1.4rem;
    cursor: pointer;
}

/* --- FIM DA SEÇÃO DO HEADER --- */